* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weapon-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

h2 {
  margin-bottom: 20px;
}

.equip-slot img,
.weapon-list img {
  width: 300px;
  height: auto;
  margin: 0 20px;
  object-fit: cover;
  border-radius: 20px;
  cursor: pointer;
}

.weapon-list img {
  margin: 20px;
}

img:hover {
  box-shadow: -1px -1px 8px 10px rgba(255, 255, 255, 0.48);
}
